{% extends "user/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Now</legend>
                {{ form|crispy }}  <!-- Render form fields -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign up asap</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                You don already get acount ? <a class="mal-2" href="{% url 'user-login' %}"> Oya Sign in</a>
            </small>
        </div>
    </div>
{% endblock content %}
